services:
  web-scraper:
    build: ./web_scrapers
    volumes:
      - ./mangas:/data
      - ./sqlite:/database
    user: "1000:1000"
    ports:
      - "5002:5002"
  server:
    build: ./server
    volumes:
      - ./mangas:/data
      - ./sqlite:/database
    user: "1000:1000"
    ports:
      - "5001:5001"
  frontend:
    build: ./frontend
    volumes:
      - ./mangas:/data
      - ./sqlite:/database
    user: "1000:1000"
    ports:
      - "3000:3000"