services:
  web-scraper:
    build: ./web_scrapers
    volumes:
      - ./mangas:/data
      - ./sqlite:/database
      - ./suwayomi_standalone/data:/suwayomi_data:ro 
    user: "1000:1000"
    ports:
      - "5002:5002"
    environment:
      - SUWAYOMI_HOST=http://suwayomi:4567           

  server:
    build: ./server
    volumes:
      - ./mangas:/data
      - ./sqlite:/database
      - ./suwayomi_standalone/data:/suwayomi_data:ro  
    user: "1000:1000"
    ports:
      - "5001:5001"

  frontend:
    build: ./frontend
    volumes:
      - ./mangas:/data
      - ./sqlite:/database
      - ./suwayomi_standalone/data:/suwayomi_data:ro  
    user: "1000:1000"
    ports:
      - "3000:3000"

  suwayomi:
    build: ./suwayomi_standalone
    container_name: suwayomi
    volumes:
      - ./suwayomi_standalone/data:/home/suwayomi/.local/share/Tachidesk
      - ./suwayomi_standalone/data:/suwayomi_data:ro
    ports:
      - "4567:4567"
    restart: unless-stopped